 nav li {
  display: inline-block;
}

.imgsize {
	max-width: 400px;
	width: 100%;
	border: 2px;
}

.section-div {
	display: inline-block;
	width: 400px;
}

.onesize {
	width: 1640px;
	max-width: 100%;
    height: 613px;
    margin-left: 140px;
    margin-top: 207px;
}

.margin{
	margin-left: 300px;
}

.loadmore {
   font-size:30px; 
   margin-left: 850px;
}

a {
	text-decoration: none;
	style="color: #707070;"
}