 @import url("//cdn.web-fonts.ge/fonts/bpg-mikheil-stefane/css/bpg-mikheil-stefane.min.css");


 nav li {
  display: inline-block;
}

.imgsize {
	max-width: 400px;
	width: 100%;
	border: 2px;
}

.section-div {
	display: inline-block;
	width: 400px;
}

.onesize {
	width: 1640px;
	max-width: 100%;
    height: 613px;
    margin-left: 140px;
    margin-top: 207px;
}

.margin{
	margin-left: 300px;
	margin-top: 50px;
}

.loadmore {
   font-size:30px; 
   margin-left: 850px;
}

a {
	text-decoration: none;
	color: #707070;
	font-family: "BPG DedaEna Nonblock", sans-serif;
}

.pfont {
	font-family: "ALK Life", sans-serif;
}

.titlefont {
	font-family: "ALK Rounded Mtav Med", sans-serif;
}

li{
	padding: 20px;
}